<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="NovianEntities" connectionString="metadata=res://*/Entity.NovianEntities.csdl|res://*/Entity.NovianEntities.ssdl|res://*/Entity.NovianEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localDB)\Projects;initial catalog=Novian;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="NovianEntities" connectionString="metadata=res://*/Entity.NovianEntities.csdl|res://*/Entity.NovianEntities.ssdl|res://*/Entity.NovianEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localDB)\ProjectsV13;initial catalog=Novian;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>